@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --primary-color: #094913;
    --secondary-color: #880714;
    --text: #FAFAFA;
    --bg-color: #0F1015;
    --large-button-radius: 10px;

}

#header {
    position: fixed;
    width: 100%;
    background-color: #FAFAFA;
}

nav {
    /* width: 100%; */
    height: 100px;
    padding-inline: 132px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* overflow: hidden; */
}

nav img {
    width: 200px;
    height: 100px;
}

nav .searchbar input {
    width: 30rem;
    height: 2.5rem;
    border-radius: 10px;
    padding-left: 15px;
    border: 1px solid #000000;

}

::placeholder {
    font-size: 1.2rem;
    /* text-align: center; */
}

.searchbar button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
}

.searchbar button i {
    font-size: 1.2rem;
}


.searchbar input[type="search"] {
    font-size: 1.2rem;
}

nav .profile i {

    font-size: 2rem;
    cursor: pointer;
}

.profile_detail {
    position: absolute;
    top: 2rem;
    display: flex;
    gap: 2rem;
    top: 80px;
    right: 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 2rem;
    right: -100%;
    transition: all .1s ease-in;
}

.profile_detail a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text);
    border-radius: var(--large-button-radius);
    transition: all .6s ease-in;
}

.profile_detail a:hover {
    background-color: transparent;
    color: var(--bg-color);
    border: 1px solid var(--primary-color);
}

.profile_detail a span i {
    font-size: 1.2rem;
}

.profile_detail a:nth-of-type(2) {
    background-color: var(--secondary-color);
}

.profile_detail a:nth-of-type(2):hover {
    background-color: transparent;
    color: var(--bg-color);
    border: 1px solid var(--secondary-color);
}

.main {
    width: 100%;
    padding-inline: 132px;
    padding-top: 120px;
    /* background-color: rebeccapurple; */

}

.main h3 {
    font-size: 2rem;
}

.box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    min-width: 500px;
    max-width: 500px;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}



@media (max-width: 768px) {
    .card {
        max-width: 100%;
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        flex: 0 0 100%;
    }
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.top {
    width: 100%; 
    height: 300px; 
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.top img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.detail h4{
    font-size: 1.2vw;

}

.detail p{
    font-size: 1.2rem;
}

span{
    font-weight: 600;
    color: #666464;
}

.bottom{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: row;
    padding-top: 18px; 
}

.cart .btns
{
    
    background-color: #129226;
    padding: .6rem 1.2rem;
    border-radius: 10px;
    transition: all ease-in .3s;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    
}

.cart .btns:hover{
    background-color: #0D6D1C;
}

.cart .a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #FAFAFA;
}

.cart .a .btns{
    color: #FAFAFA;
}


/* !=========================================================================== */

.cart_icons{
    
    background-color: #094913;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 2%;
    bottom: 10%;
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s ease-in;
    cursor: pointer;
    
}
.cart_icon .a{

    text-decoration: none;
}
.cart_icons  i{
    font-size: 32px;
    color: var(--text);
}

.cart_icons:hover{
    background-color: #1B842A;
}

.cart_counter{
    position: absolute;
    top: -50%;
    color: #000;
    right: -20%;
    font-size: 32px;
    font-weight: 700;
}


.search-item {
    display: flex;
    /* flex-wrap: wrap;
    flex-direction: row; */
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.search-item img {
    margin-right: 10px;
}