@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
border: none;
outline: none;
}
html, body{
height:100%;
width:100%;
}

:root{
    --primary-color: #094913;
    --secondary-color: #880714;
    --text: #FAFAFA;
    --bg-color: #0F1015;
    --large-button-radius: 10px;

}
/* =====For Default ============= */
a {
    text-decoration: none;
}



/* ============================================ */
#warpper{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
   
}


#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.field_group{
   text-align: center;
    padding: 30px;
    border: 2px solid var(--text);
    border-radius: var(--large-button-radius);
  
}

h1{
    color: var(--text);
    text-align: center;
    padding-bottom: 32px;
}

.fields{
   padding-bottom: 32px;
   display: flex;
   flex-direction: column;
   gap: 18px;

}

input{
    width: 20rem;
    height: 3rem;
    padding-left: 10px;
    border-radius: var(--large-button-radius);
    background-color: transparent;
    border: 1px solid var(--text);
    color: #FAFAFA;
}

input[type= "text"]
{
    color: var(--text);
    font-size: 1rem;
    font-weight: normal;
}

.login_btn button
{
    font-size: 1.6rem;
    width: 20rem;
    height: 3rem;
    border-radius: var(--large-button-radius);
    background-color: var(--primary-color);
    color: var(--text);
    cursor: pointer;

}

.fields a{
    color: #A6AFFC;
}

.create_account a{
     padding: .8rem 4rem;
     text-align: center;
     background-color: var(--secondary-color);
     color: var(--text);
     font-size: 1.2rem;
     font-weight: 500;
     border-radius: var(--large-button-radius);

}